.shortUrlCreate-parent-container{
    /* height: 100vh; */
    min-height: 100vh;

    display: flex;
    align-items: center;
    padding: 20px 0; /* Added padding to ensure content has breathing room */

}

.shortUrl-ads-container{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
    position: absolute;
}

.shortUrl-left-container{
    background: red;

}

.shortUrl-right-container{
    background: green;
    left: 80%;
}

.shortUrlCreate-container{
    width: 70%;
    margin: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */

    /* position: absolute;
    left: 50%;
    transform: translate(-50%, 0%); */
    position: relative;
    /* left: auto; */
    /* transform: none; */
    
    text-align: center;
    color: #ede5e5;
    background-color: #5A3785;
    padding: 20px 0 0px 0;
    border-radius: 2rem;
    
}

.shortUrlCreate-title{
    padding: 50px 0 0 0;
}

.shortUrlCreate-form{
    padding: 50px 0 50px 0;
    width: 100%;
}

.shortUrlCreate-form p{
    width: 80%;
    padding: 0 0 1.5rem 0;

    text-align: center;
    margin:auto;
    font-size: 0.9rem;
}

.shortUrlCreate-form input{
    width: 80%;
    height: 50px;

    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.8rem;
    border: 0px;

    font-size: 1.3rem;
    background-color:  #4C2B6E;
    color: #ffffff;
}

.shortUrlCreate-input-label{
    display: inline-flex;
    width: 18%;
    font-size: 1.3rem;
}
.form-row{
    padding: 0.5rem 1.5rem;
    text-align: left;
}

.shortUrl-btn{
    padding: 3rem 0 0 0;
}

.shortUrl-btn button{
    width: 30%;
    background-color: #12122b;
    /* background-color: #A89555; */
    color: #ffffff;
    /* color: #1A1B41; */
}


.shortUrl-nav-container{
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 2rem 0 1rem 0;
}

.shortUrl-nav-btn{
    text-align: center;

    display: flex;
    align-items: center;

    text-align: center;
    color: #ede5e5;
    border-radius: 8px;
}

.shortUrl-nav-navlink{
    font-size: 1em;
    margin: auto 1rem;

    border-radius: 8px;
    padding: 1rem;
    background-color: #5A3785;
    color: #ffffff;
}
.shortUrl-nav-navlink:hover{
    border: 1px solid lightblue;
}


@media screen and (max-width: 800px) {
    .shortUrlCreate-parent-container{
        flex-direction: column;
        justify-content: center;
    }
    .shortUrl-ads-container{
        position: relative;
        width: 80%;
    }
    
    .shortUrl-left-container{
    
    }
    
    .shortUrl-right-container{
        left: unset;
    }

    .shortUrlCreate-container{
        position: relative;
        margin: unset;
        left: unset;
        transform: unset;
        width: 80%
    }
}

@media screen and (max-width: 600px) {
    .shortUrlCreate-title{
        font-size: 2.5rem;
    }
    .shortUrlCreate-form p{
        font-size: 0.8rem;
    }
    
    .shortUrlCreate-form input{
        font-size: 1.1rem;
        height: 40px;
        width: 70%;
    }
    .shortUrl-input-label{
        font-size: 0.9rem;
    }
    .shortUrlCreate-input-label{
        font-size: 0.9rem;
    }
    .shortUrl-btn button{
        font-size: 0.9rem;
    }
    
    .shortUrl-nav-navlink{
        font-size: 0.9rem;
    }
}
  
@media screen and (max-width: 450px) {
    .shortUrlCreate-container{
        width: 90%;
    }
    .shortUrlCreate-title{
        font-size: 2rem;
    }
    .shortUrlCreate-form p{
        font-size: 0.7rem;
    }
    
    .shortUrlCreate-form input{
        font-size: 0.8rem;
    }
    .shortUrl-input-label{
        font-size: 0.8rem;
    }
    .shortUrlCreate-input-label{
        font-size: 0.8rem;
    }
    .shortUrl-btn button{
        font-size: 0.8rem;
    }
    .shortUrl-nav-navlink{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 380px) {
    .shortUrl-nav-container{
        margin: 1rem auto 2rem auto;
    }
    .shortUrlCreate-input-label{
        font-size: 0.7rem;
        margin-right: 0.7rem;
    }
}