# VITE_SELF_URL=http://localhost:5173
# VITE_API_REQUEST_URL=http://localhost:8000/api
# VITE_API_REQUEST_URL=http://tey-msdev.com/api
VITE_SELF_URL=https://www.tey-ms.com
VITE_API_REQUEST_URL=https://www.tey-ms.com/api

# VITE_GOOGLE_CLIENT_ID=xxxxxxx
VITE_GOOGLE_CLIENT_ID=xxxxxxx