.tngFileConvert-parent-container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.tngFileConvert-ads-container{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 500px; */
    position: absolute;
}

.tngFileConvert-left-container{
    background: red;

}

.tngFileConvert-right-container{
    background: green;
    left: 80%;
}

.tng_text{
    color: #FFCD00;
}

.tngFileConvert-container{
    width: 60%;
    margin: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    
    text-align: center;
    color: #ede5e5;
    /* color: #12122b; */
    background-color: #0047ba;
    padding: 20px 0 0px 0;
    border-radius: 2rem;
    
}

.tngFileConvert-title{
    padding: 50px 0 0 0;
}

.tngFileConvert-form{
    padding: 50px 0 50px 0;
    width: 100%;
}

.tngFileConvert-form p{
    width: 80%;
    padding: 0 0 1.5rem 0;

    text-align: center;
    margin:auto;
    font-size: 0.9rem;
}

.tngFileConvert-form input{
    width: 80%;
    height: 50px;

    padding: 0 0.5rem 0 0.5rem;
    border-radius: 0.8rem;
    border: 0px;

    font-size: 1.3rem;
    background-color:  #4C2B6E;
    color: #ffffff;
}

.tngFileConvert-form input[type="file"] {
    cursor: pointer;
}

.tngFileConvert-btn{
    padding: 3rem 0 0 0;
}

.tngFileConvert-btn button{
    width: 30%;
    background-color: #12122b;
    /* background-color: #A89555; */
    color: #ffffff;
    /* color: #1A1B41; */
}


@media screen and (max-width: 800px) {
    .tngFileConvert-parent-container{
        flex-direction: column;
        justify-content: center;
    }
    .tngFileConvert-ads-container{
        position: relative;
        width: 80%;
    }
    
    .tngFileConvert-left-container{
    
    }
    
    .tngFileConvert-right-container{
        left: unset;
    }

    .tngFileConvert-container{
        position: relative;
        margin: unset;
        left: unset;
        transform: unset;
        width: 80%
    }
}

@media screen and (max-width: 600px) {
    .tngFileConvert-title{
        font-size: 2.5rem;
    }
    .tngFileConvert-form p{
        font-size: 0.8rem;
    }
    
    .tngFileConvert-form input{
        font-size: 1.1rem;
        height: 40px;
        width: 70%;
    }
    
    .tngFileConvert-btn button{
        font-size: 0.9rem;
    }
}
  
@media screen and (max-width: 450px) {
    .tngFileConvert-container{
        width: 90%;
    }
    .tngFileConvert-title{
        font-size: 2rem;
    }
    .tngFileConvert-form p{
        font-size: 0.7rem;
    }
    
    .tngFileConvert-form input{
        font-size: 0.8rem;
    }
    .tngFileConvert-btn button{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 310px) {

}