.topbar-container{
    position: relative;
    width: 100%;
    background-color: black;
}
  
.topbar-box{
    width: 100%;  
}

.topbar-box div{
  display: inline-flex;
  vertical-align: middle;
}
  
.logo-container{
    width: 25%;
    padding-left: 5%;
}

.logo-container .logo img{
    width: 130px;
    height: 130px;
}
  
.nav-list{
    position: relative;
    justify-content: end;
    width: 60%;
    padding-right: 5%;
    text-align: center;
}
.nav-list a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-list a::after{
    content: "";
    display: block;
    background-color: white;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    border-bottom: 1px solid white;

}
.nav-list a:hover::after{
    transform: scaleX(1); /* Gradually expand the border-bottom */
}
  
.profile-container{
    font-size: 20px;

}
.profile-container img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media screen and (max-width: 1100px) {
    .profile-container{
        display: flex !important;
        flex-direction: row; /* Stack items vertically */
        justify-content: center;
    }
    .profile-container img{
        margin: auto 0;
    }
}
  
@media screen and (max-width: 600px) {
    .logo-container{
        padding: 0;
        display:block !important;
        width: 100%;
        text-align: center;
    }

    .nav-list{
        /* overflow-x: scroll; */
        width: 100%;
        padding-right: 0;
        justify-content: center;
    }
    .nav-list a{
        margin: auto;
        font-size: 15px;
    }
    .nav-list::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    .nav-list::-webkit-scrollbar-thumb {
        background-color: #bdbdbd;
        border-radius: 10px;
        border: 3px solid #ffffff;
        width: 5px;

    }
    .nav-list::-webkit-scrollbar-track {
        background: #000000;
    }
    .profile-container{
        font-size: 15px;
    }
    .profile-container img{
        width: 30px;
        height: 30px;
    }}
  
@media screen and (max-width: 380px) {
    .nav-list a{
        font-size: 10px;
        margin: auto;
    }
    .profile-container{
        font-size: 10px;
    }
    .profile-container img{
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 310px) {
    .nav-list a{
        font-size: 8px;
    }
    .profile-container{
        font-size: 8px;
    }
    .profile-container img{
        width: 20px;
        height: 20px;
    }
}